<div class="form-group col-sm-12">
  <h2>New Task</h2>
</div>

<%= render 'form', task: @task %>

<div class="form-group actions col-sm-4">
  <%= link_to 'Back', tasks_path, class: "btn btn-outline-danger btn-sm" %>
</div>
