<div class="container center" style="margin-bottom: 8%; margin-top: 8%;">
  <div class="jumbotron"> 
    <h1>Toodoo List App</h1>
    <h5>Start managing your todo list!</h5>
  </div>
      
  <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-info btn-lg' %>
  <%= link_to "Log in", new_user_session_path, :class => 'btn btn-outline-info btn-lg' %> 
</div> 

