
  <header class="header">
    <div class="overlay"></div>
    <div class="container">
      <div class="description">
        <h1>Todo List App</h1>
        <p>Start managing your todo list!</p>
        <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-info btn-lg', :type => 'button' %>
        <%= link_to "Log in", new_user_session_path, :class => 'btn btn-outline-info btn-lg', :type => 'button' %>   
        <!-- <button type="button" class="btn btn-info btn-lg">Sign Up</button> -->
        <!-- <button type="button" class="btn btn-info btn-lg">Log In</button> -->
      </div>
    </div>
  </header>

  <body>
  </body>
