/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "bootswatch";
@import "variables";
@import "font-awesome-sprockets";
@import "font-awesome";

/*header style*/
/*.header {*/
  /*background-image: url('../images/headerback.jpg');*/
/*  background-image: asset-url('bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.59);
}

.description {
  position: relative;
  top: 50%;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 2em;

}
*/
/*.description h1 {*/
  /*color: #F97300 ;*/
/*}*/

/*.description p {*/
  /*color: #666;*/
  /*font-size: 20px;*/
  /*width: 50%;*/
  /*line-height: 1.5;*/
/*}*/
