<footer class="footer py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      Copyright &copy; Time Master by <a class="text-info" href="https://github.com/henrylou">Hengyu Lou</a>
    </p>
  </div>
  <!-- /.container -->
</footer>